<h1>{{title}}</h1>
<div>
   <div *ngIf="needsAuthentication">
      <span><label>Username: </label><input [(ngModel)]="username" placeholder="username" /></span>
      <span><label>Password: </label><input [(ngModel)]="password" type="password" placeholder="password" /></span>
   </div>
  	<div>
	   <span><label>System: </label>
      <select [(ngModel)]="system" (keydown.enter)="submit()">
        <option *ngFor="let sys of systems" [value]="sys.value">{{sys.display}}</option>
      </select></span>
         <span><label>Job ID: </label><input [(ngModel)]="jobId" (keydown.enter)="submit()" placeholder="job-id" /></span> 
     <span><button class="pure-button" (click)="submit()">Submit</button></span>
     <br>
   </div>
</div>
<router-outlet></router-outlet>
