<table class="pure-table pure-table-bordered">
	<tbody>
		<tr>
			<td>jobid</td>
			<td>{{job.jobid}}</td>
		</tr>
		<tr>
			<td>system</td>
			<td>{{job.system}}</td>
		</tr>
		<tr>
			<td>username</td>
			<td>{{job.username}}</td>
		</tr>
		<tr>
			<td>groupname</td>
			<td>{{job.groupname}}</td>
		</tr>
		<tr>
			<td>account</td>
			<td>{{job.account}}</td>
		</tr>
		<tr>
			<td>jobname</td>
			<td>{{job.jobname}}</td>
		</tr>
		<tr>
			<td>nproc</td>
			<td>{{job.nproc}}</td>
		</tr>
		<tr>
			<td>mppe</td>
			<td>{{job.mppe}}</td>
		</tr>
		<tr>
			<td>mppssp</td>
			<td>{{job.mppssp}}</td>
		</tr>
		<tr>
			<td>nodect</td>
			<td>{{job.nodect}}</td>
		</tr>
    <tr>
      <td>nodes</td>
      <td>{{job.nodes}}</td>
    </tr>
		<tr>
			<td>feature</td>
			<td>{{job.feature}}</td>
		</tr>
		<tr>
			<td>gres</td>
			<td>{{job.gres}}</td>
		</tr>
		<tr>
			<td>gattr</td>
			<td>{{job.gattr}}</td>
		</tr>
		<tr>
			<td>queue</td>
			<td>{{job.queue}}</td>
		</tr>
		<tr>
			<td>qos</td>
			<td>{{job.qos}}</td>
		</tr>
		<tr>
			<td>submit_ts</td>
			<td>{{job.submit_ts}}</td>
		</tr>
		<tr>
			<td>start_ts</td>
			<td>{{job.start_ts}}</td>
		</tr>
    <tr>
      <td>end_ts</td>
      <td>{{job.end_ts}}</td>
    </tr>
    <tr>
      <td>start_date</td>
      <td>{{job.start_date}}</td>
    </tr>
    <tr>
      <td>end_date</td>
      <td>{{job.end_date}}</td>
    </tr>
		<tr>
			<td>cput_req</td>
			<td>{{job.cput_req}}</td>
		</tr>
		<tr>
			<td>cput</td>
			<td>{{job.cput}}</td>
		</tr>
		<tr>
			<td>walltime_req</td>
			<td>{{job.walltime_req}}</td>
		</tr>
		<tr>
			<td>walltime</td>
			<td>{{job.walltime}}</td>
		</tr>
		<tr>
			<td>mem_req</td>
			<td>{{job.mem_req}}</td>
		</tr>
		<tr>
			<td>mem_kb</td>
			<td>{{job.mem_kb}}</td>
		</tr>
		<tr>
			<td>vmem_req</td>
			<td>{{job.vmem_req}}</td>
		</tr>
		<tr>
			<td>vmem_kb</td>
			<td>{{job.vmem_kb}}</td>
		</tr>
		<tr>
			<td>software</td>
			<td>{{job.software}}</td>
		</tr>
		<tr>
			<td>submithost</td>
			<td>{{job.submithost}}</td>
		</tr>
		<tr>
			<td>hostlist</td>
			<td>{{job.hostlist}}</td>
		</tr>
		<tr>
			<td>exit_status</td>
			<td>{{job.exit_status}}</td>
		</tr>
		<tr>
			<td>script</td>
			<td><pre>{{job.script}}</pre></td>
		</tr>
	</tbody>
</table>
